* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* p {
    margin: 0;
} */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.prosto {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

input {
    max-width: 130px;
    margin: 10px;
    padding: 4px;
    font-size: 1.3em;
    font-weight: 600;
    border: 0.5px solid #DCDCDC;
    border-radius: 5px;
}


#kom03 {
	transform:scale(1.3);
    opacity:0.9;
    cursor:pointer;
}

.block-01 span {
    font-size: 1.2em;
    font-weight: 600;
}

.block-1 p {
    margin: 10px;
}


.block-1, .block-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    /* border: 0.5px solid #DCDCDC; */
    border-radius: 5px;
    /* background-color: #D3D3D3; */
}

#price_span {
    font-size: 1.3em;
    font-weight: 600;
}

.block-2 {
    margin-top: 10px;
}

.block-3 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-3 input {
    padding: 10px;
    width: auto;
}

.block-3 p {
    font-size: 3.0em;
    font-weight: 600;
}

#output_price {
    font-size: 2.5em;
    font-weight: 600;
}

@media screen and (max-width: 500px) {
    .block-1, .block-2 {
        width: 98%;
    }
}

@media screen and (max-width: 500px) {
    .prosto {
        width: 95%;
    }
}
